<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
 

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<!-- <%=flag%> <br>
 <%=i%> -->

    <h1>Chat Room</h1>

    <br>
    
           
               
                        <div class="d-flex justify-content-start mb-4">
                            <div class="img_cont_msg">
                                <!-- <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg"> -->
                            </div>
                            <div class="msg_cotainer">
                                <!-- Bye, see you -->
                                <div id = "m"></div>
                                <div id = "b"></div>
                                <!-- <span class="msg_time">9:12 AM, Today</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
    
    
                            <!-- <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                            </div> -->

                            <div id = "status"></div>
                            <form >
                                <!-- <textarea name=" " class="form-control type_msg" placeholder="Type your message..."></textarea> -->
                                <div class="input-group-append">
                                    <input name ="message" autocomplete="off" />
                                    <input type="hidden" name="mail"   value= <%= mail %> />
                                    <input type="hidden" name="flag" value="<%=flag%>">
                                    <input type="hidden" name="i" value="<%=i%>">
                                    <button id = "btn">
                                        <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i>send</i></span>
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- <script src="/socket.io/socket.io.js"></script> j -->
                    <!-- <script >
                          var socket = io(); // it refuses to take this line of code, returned error = /socket.io/?EIO=3&transport=polling&t=Mxx1iJm 404
                        alert("hello");
                    //   alert(socket);
                    </script>  -->
                    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
                    <!-- <script type="text/javascript" src="/file.json"></script> -->
                    <script src="/javascripts/chat.js">

                    
// var m_input = document.getElementById('m_input');
// $('form').submit(function (e) {
//     // e.preventDefault(); // prevents page reloading
//     console.log(m_input.value);
//                     $('#m_input').val('');
//                     return false;
// });
                    </script>
  </body>

</html>
