<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<body style="  background-color: rgba(158, 199, 201, 0.08);">
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Matcha</a>
    <div style="border: 1px solid; border-radius: 50%; width: 50px; height: 50px; background-color: white"></div>
    <a class="nav-link" href="http://localhost:8080/profile">
      <%= currentUser %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:8080/home">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/notifications">Notifications</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/likes">Requests</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/likes/connections">Connections</a>
        </li>
      </ul>
      <a href="http://localhost:8080/logout">Logout</a>
      <form class="form-inline" action="http://localhost:8080/search">
        <input class="form-control mr-sm-2" name="name" type="search" placeholder="Search" aria-label="Search">
        <input type="hidden" name="Option1" value="none">
        <input type="hidden" name="Option2" value="none">
        <input type="hidden" name="Option3" value="none">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- nav bar ends here -->
  <!-- <h1>User Profiles</h1> -->
  <div class="gridcontainer">
    <%for(profile in profiles) {%>
      <div onclick="viewProfile()">
        <img src='<%= profiles[profile].image %>' alt=gallery>
        <form id="view" method="post" action="http://localhost:8080/profile/view">
          <div class="desc">
            <input type="hidden" name="hmail" value="<%= profiles[profile].email %>">
            <a onclick="viewProfile()">
              <%= profiles[profile].name + " " + profiles[profile].surname + "," + profiles[profile].age %>
            </a>
            <% if(profiles[profile].city !=null){ %>
              <p><i class="material-icons">location_on</i>
                <%= profiles[profile].city %>
              </p>
              <% } %>
                <input type="submit" name="view" value="view">
          </div>
        </form>
      </div>
      <% } %>
  </div>
</body style="  background-color: rgba(158, 199, 201, 0.08);">
<script>
  function viewProfile() {
    document.getElementById('view').submit();
  }
</script>

</html>