<!DOCTYPE html>
<html>
<!-- it seems like ejs can run if else and while (statements and conditions should be easy to work on the view profile ksasa) -->

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <title>
        Matcha Profile
    </title>

    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- <script>
        function openForm()
        {
            document.getElementById("myabout").style.display = "block";
        }
    </script> -->
</head>
<!-- https://gcs.thesouthafrican.com/2019/12/edf14e72-zozibini-tunzi-2-1200x858.jpg -->

<body style="  background-color: rgba(158, 199, 201, 0.08);">
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Matcha</a>
        <div style="border: 1px solid; border-radius: 50%; width: 50px; height: 50px; background-color: white"></div>
        <a class="nav-link" href="http://localhost:8080/profile"><%= username1 %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:8080/home">Home <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/notifications">Notifications</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/likes">Requests</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/likes/connections">Connections</a>
                </li>
            </ul>
            <a href="http://localhost:8080/logout">Logout</a>
            <form class="form-inline" action="http://localhost:8080/search">
                <input class="form-control mr-sm-2" name="name" type="search" placeholder="Search" aria-label="Search">
                <input type="hidden" name="Option1" value="none">
                <input type="hidden" name="Option2" value="none">
                <input type="hidden" name="Option3" value="none">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- nav bar ends here -->
    <div class="topcontainer">
        <div class="picbod">
            <img class="proimage" src='<%= imageu %>' alt="profile picture">
            <div style="display: flex;">
                <div>
                    <% if(mail == 1){ %>
                    <form method="post" enctype="multipart/form-data">
                        <input style="margin-top: 20px;" type="file" name="fileuploaded">
                        <input type="submit" name="upload" value="upload">
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
        <div style="display: flex;margin: 50px;">
            <div>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    <%= username1 %>
                </p>
            </div>
            <div style="margin-left: 30px;">
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    <%= age %>
                </p>
            </div>
        </div>
        <div class="rating">
            <p class="profile_par">
                <%= rating %> %</p>
            <p class="profile_par">
                Match</p>
            <div>
                Last Seen:
            </div>
            <div>
                <%= activity %>
            </div>
        </div>
    </div>
    <hr style="width: 900px">
    <div class="bio">
        <div>
            <p class="profile_par">
                About MySelf
            </p>
            <% if(mail == 1){ %>
            <form method="post">
                <input type="submit" name="About" value="About">
            </form>
            <% } %>
            <hr>
            <p style="font-family: 'Segoe UI', Tahoma, Geneva, Veerdana, sans-serif;">
                <%= text %>
            </p>
        </div>
        <div>
            <p class="profile_par">
                My Details
            </p>
            <% if(mail == 1){ %>
            <form method="post">
                <input type="submit" name="Details" value="Details">
            </form>
            <% } %>
            <hr>
            <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                Birthday&nbsp;&nbsp;<%= birthday %>
            </p>
            <hr>
            <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                Orientation&nbsp;&nbsp;<%= gender %>
            </p>
            <hr>
            <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                Sexual Preference&nbsp;&nbsp;<%= sex %>
            </p>
            <hr>
            <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                height&nbsp;&nbsp;<%= height %>
            </p>
            <hr>
            <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                Ethnicity&nbsp;&nbsp;<%= race %>
            </p>
            <hr>
        </div>
        <div>
            <h3 class="location">Geolocation</h3>
            <div id="map" class="map">
            </div>
            <p id="location"></p>
            <% if(mail == 1){ %>
            <button name="getlocation" onclick="getGeoLocation()">Get Your location</button>
            <% } %>
            <div>
                <img style="width:65px; height: 65px" src='<%= marker %>' alt="marker">
                <%= cityn %>
            </div>
            <!-- <form action="/profile.html" method="post"></form>
                <input type="submit" name="Geolocation" value="Geolocation">
            </form> -->
            <h3 class="gallery">gallery</h3>
            <div class="imagegallery">
                <div class="galleryform">
                    <div style="display: flex;">
                        <%for(x = 0; x < gallery.length; x++) 
                        {%>
                        <div>
                            <form method="post" action="http://localhost:8080/profile/remove">
                                <img style="width: 120px;height: 120px;margin-right: 30px;" src='<%= gallery[x] %>'
                                    alt=gallery>
                                <input type="hidden" name="pathr" value="<%= gallery[x] %>">
                                <div>
                                    <% if(mail == 1){ %>
                                    <input type="submit" name="delete" value="delete">
                                    <% } %>
                                </div>
                            </form>
                        </div>
                        <% } %>
                    </div>
                    <div>
                        <% if(mail == 1){ %>
                        <form method="post" enctype="multipart/form-data"
                            action="http://localhost:8080/profile/gallery">
                            <input style="margin-top: 20px;" type="file" name="fileuploaded">
                            <input type="submit" name="Saveupload" value="Saveupload">
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
            <h3 class="profileinterests">Interests</h3>
            <div>
                <%for(x = 0; x < tags.length; x++) 
                        {%>
                <%= tags[x] + ' ' %>
                <% } %>
                <!-- <%= tags[0] %> -->
            </div>
            <% if(mail == 1){ %>
            <h3>Profile Views</h3>
            <div>
                <%for(x = 0; x < vies.length; x++) 
                        {%>
                <%= vies[x] + ' ' %>
                <% } %>
            </div>
            <% } %>
            <% if(mail == 1){ %>
            <h3>Notifications</h3>
            <div>
                <% if(notifications == 1){ %>
                <p> Email Notifications Are On</p>
                <% }else{ %>
                <p> Email Notifications Are Off</p>
                <% } %>
                <form method="POST" action="http://localhost:8080/profile/notify">
                    <input type="hidden" name="notifynum" value="<%= notifications %>">
                    <input type="submit" name="notify" value="notifications">
                </form>
            </div>
            <% } %>
        </div>
    </div>
</body>
<script>
    var map = L.map('map').setView([0, 0], 1);

    L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=DaIkHlWAFmbWHM9uC42N',
        {
            tileSize: 512,
            zoomOffset: -1,
            minZoom: 1,
            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
        }).addTo(map);
        var marker = L.marker(['<%= lat %>', '<%= long %>']).addTo(map);

    function getGeoLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError)
        }
        else {
            document.getElementById("location").innerHTML = "Geolocation Is Not Supported By Your Browser";
        }

        function showPosition(position) {
            $.ajax({
                type: "GET",
                url: "/profile/geofin",
                data: { lat: position.coords.latitude, long: position.coords.longitude },
                success: function (data) {
                    console.log(data);

                },
                error: function (jqXHR, textStatus, err) {
                    alert('text status ' + textStatus + ', err ' + err)
                }
            });

            document.getElementById("location").innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;

            /* var latlon = position.coords.latitude + "," + position.coords.longitude;

           var img_url = "https://maps.googleapis.com/maps/api/staticmap?center="+latlon+"&zoom=14&size=400x300&sensor=false&key=YOUR_KEY"; */

            document.getElementById("Map").innerHTML = "<img src='" + img_url + "' alt='yourlocation'>";
        }
        function showError(positionError) {
            switch (positionError.code) {
                case positionError.PERMISSION_DENIED:
                    document.getElementById("location").innerHTML = "You denied your device location"
                    break;
                case positionError.POSITION_UNAVAILABLE:
                    document.getElementById("location").innerHTML = "Your Device had an Internal Error"
                    break;
                case positionError.TIMEOUT:
                    document.getElementById("location").innerHTML = "Your device had a TIMEOUT WHILE retrieving your location"
                    break;
                case positionError.UNKNOWN_ERROR:
                    document.getElementById("location").innerHTML = "AN UNKOWN ERROR OCCURED"
                    break;
            }
        }
    }
</script>

</html>