<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Matcha</a>
        <div style="border: 1px solid; border-radius: 50%; width: 50px; height: 50px; background-color: white"></div>
        <a class="nav-link" href="http://localhost:8080/profile"><%= name %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:8080/home">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/notifications">Notifications</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/likes">Likes</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/chatbe">Chat</a>
            </li><!-- 
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li> -->
          </ul>
          <a href="http://localhost:8080/logout">Logout</a>
          <form class="form-inline" action="http://localhost:8080/search">
            <input class="form-control mr-sm-2" name="name" type="search" placeholder="Search" aria-label="Search">
            <input type="hidden" name="Option1" value="none">
            <input type="hidden" name="Option2" value="none">
            <input type="hidden" name="Option3" value="none">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
<!-- nav bar ends here -->
<div class="main_search">
  <div class="loop">
      <%  
          for (i = 0; i < len; i++) { %>
              <div class="user_d">
                  <div class="s_prfl" 
                  <% if(image[i]!=0) {%> 
                    style="background-image: URL('<%=image[i]%>');"
                  <% } %>></div>
                  <!-- user details: name, surname, location -->
                  <div class="unl">
                      <h5><%= results[i] %></h5>
                      <%= active %>
                      <i>Johannesburg</i>
                  </div>
  
                  <div>
                    <% if(!liked_back[i]) { 
                      if(liked[i]) {%>
                      <i class="pending">Request Pending</i>
                      <% } %>
                    <% } %>
                    <% if (connected[i]) { %>
                      <i class="connected">Connected</i>
                    <% } %>
                    </div>
  
    
                  <div <% if(image[i] == 0) {%> style="display: none;" <%} if(mail[i] == active){%> style="display: none;" <% }%>>
                    <% if (!liked[i]){ %>
                      <form action="http://localhost:8080/like" method="get">
                        <input type="hidden" name="mail" value=<%= mail[i] %>>
                        <input type="hidden" name="Option1" value="<%= op1 %>">
                        <input type="hidden" name="Option2" value="<%= op2 %>">
                        <input type="hidden" name="Option3" value="<%= op3 %>">
                        <input type="hidden" name="request" value="<%= request %>">
                        <input type="hidden" name="liked_user" value="<%= results[i] %>">
                        <input class="l_btn" type="submit" value="like">
                      </form>
                    <% }
                    else{ %>
                      <form action="http://localhost:8080/like/dislike" method="get">
                        <input type="hidden" name="mail" value=<%= mail[i] %>>
                        <input type="hidden" name="Option1" value="<%= op1 %>">
                        <input type="hidden" name="Option2" value="<%= op2 %>">
                        <input type="hidden" name="Option3" value="<%= op3 %>">
                        <input type="hidden" name="request" value="<%= request %>">
                        <input type="hidden" name="unliked_user" value="<%= results[i] %>">
                        <input class="l_btn" type="submit" value="unlike">
                      </form>
                    <% } %>
                      
                  </div>
              </div>
              <hr>
      <% } %>
  </div>
  
  <div class="filter">
    <div class="a_filter">
      <div class="fil_head">
        <h1>Filters</h1>
        <button class="clr" onclick="window.location.href='/search?name=<%= request %>&Option1=none&Option2=none&Option3=none'">Clear</button>
        
      </div>
      <h4>Age</h4>
      <form action="http://localhost:8080/search" class="age_ftr">
        <input type="hidden" name="name" value="<%= request %>">
        <input type="hidden" name="Option2" value="<%= op2 %>">
        <input type="hidden" name="Option3" value="<%= op3 %>">
        <fieldset>
        <label><input type="radio" name="Option1" value="10-20" <% if(op1=='10-20') {%> checked="checked" <% } %>>10-20</label><br>
        <label><input type="radio" name="Option1" value="21-30" <% if(op1=='21-30') {%> checked="checked" <% } %>>21-30</label><br>
        <label><input type="radio" name="Option1" value="31-40" <% if(op1=='31-40') {%> checked="checked" <% } %>>31-40</label><br>
        <label><input type="radio" name="Option1" value="41-50" <% if(op1=='41-50') {%> checked="checked" <% } %>>41-50</label><br>
        <label><input type="radio" name="Option1" value="51-60" <% if(op1=='51-60') {%> checked="checked" <% } %>>51-60</label><br>
        </fieldset>
      </form>
<script>
  $('input[type=radio]').on('change', function() {
    $(this).closest("form").submit();
});
</script>
      <h4>Rating</h4>
      <form action="http://localhost:8080/search" class="rating_ftr">
        <input type="hidden" name="name" value="<%= request %>">
        <input type="hidden" name="Option1" value="<%= op1 %>">
        <input type="hidden" name="Option3" value="<%= op3 %>">
        <fieldset>
        <label><input type="radio" name="Option2" value="0-20"   <% if(op2=='0-20') {%> checked="checked" <% } %>>0-20 %  </label><br>
        <label><input type="radio" name="Option2" value="21-40"  <% if(op2=='21-40') {%> checked="checked" <% } %>>21-40 %</label><br>
        <label><input type="radio" name="Option2" value="41-60"  <% if(op2=='41-60') {%> checked="checked" <% } %>>41-60 %</label><br>
      <label><input type="radio" name="Option2" value="61-80"    <% if(op2=='61-80') {%> checked="checked" <% } %>>61-80 %</label><br>
        <label><input type="radio" name="Option2" value="81-100" <% if(op2=='81-100') {%> checked="checked" <% } %>>81-100 %</label><br>
      </fieldset>
    </form>
<script>
  $('input[type=radio]').on('change', function() {
    $(this).closest("form").submit();
});
</script>    
    <h4>Location</h4>
    <form action="#" class="rating_ftr">
      <fieldset>
        <label><input type="radio" name="Option0" value="johannesburg" checked="checked" >Near me</label><br>
      </fieldset>
    </form>
    
    <h4>Interest</h4>
    <form action="http://localhost:8080/search" class="rating_ftr">
      <input type="hidden" name="name" value="<%= request %>">
      <input type="hidden" name="Option1" value="<%= op1 %>">
      <input type="hidden" name="Option2" value="<%= op2 %>">
      <fieldset>
        <label><input type="radio" name="Option3" value="#music"   <% if(op3=='#music') {%> checked="checked" <% } %>>#music</label><br>
        <label><input type="radio" name="Option3" value="#Sports"  <% if(op3=='#Sports') {%> checked="checked" <% } %>>#sports</label><br>
      <label><input type="radio" name="Option3" value="#Food"      <% if(op3=='#Food') {%> checked="checked" <% } %>>#food</label><br>
        <label><input type="radio" name="Option3" value="#Reading" <% if(op3=='#Reading') {%> checked="checked" <% } %>>#reading</label><br>
        <label><input type="radio" name="Option3" value="#Gaming"  <% if(op3=='#Gaming') {%> checked="checked" <% } %>>#gaming</label><br>
        </fieldset>
      </form>
    
    </div>
    <script>
      $('input[type=radio]').on('change', function() {
    $(this).closest("form").submit();
});
    </script>
</div>
</body>
</html>